.container{
    background-color: var(--bgSoft);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.container h1{
    color: var(--text);
    /* font-size: 20px; */
    font-weight: 600;
}

.container form{
    background-color: var(--bg);
    width: 30%;
    height: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid var(--border);
    border-radius: 20px;
}

.container label{
    color: var(--textSoft);
    font-size: 18px;
    margin: 3px;
    font-weight: 500;
}

.container input,
.container button {
    font-size: 18px;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    color: var(--text);
}

.container button{
    width: 150px;
    font-weight: 700;
    background-color: var(--button);
    padding: 10px;
    margin: 0 auto;
}

.login{
    display: flex;
    gap: 10px;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
}